@use "./base.scss";

$light-theme: (
  primary-bg: #e6d9a1,
  primary-text: #0f0e0e,
  accent: #0c3330,
  secondary-accent: #4e945f6e,
  highlight: #0dc2c9,
);

$dark-theme: (
  primary-bg: #070d1d,
  primary-text: #fff59d,
  accent: #8FBC8F,
  secondary-accent: #24b1b6b7,
  highlight: #1dbcc7,
);

:root {
  @each $key, $value in $light-theme {
    --#{$key}: #{$value};
  }
}

:root[saved-theme="dark"] {
  @each $key, $value in $dark-theme {
    --#{$key}: #{$value};
  }
}

body {
  background-color: var(--primary-bg) !important;
  color: var(--primary-text) !important;
  font-family: var(--bodyFont) !important;
}

a {
  color: var(--accent);
  text-decoration: none;
  &:hover {
    color: var(--secondary-accent);
  }
}

button {
  background-color: var(--accent);
  color: var(--primary-bg);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-family: var(--headerFont);
  &:hover {
    background-color: var(--secondary-accent);
  }
}

.homepage-cover {
  text-align: center;
  margin-bottom: 1.5rem; /* Отступ между обложкой и заголовком */
}

.homepage-cover img {
  display: none; /* Скрываем все изображения по умолчанию */
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Скругление углов */
}

:root[saved-theme="light"] .homepage-cover .cover-light {
  display: block !important; /* Показываем обложку для светлого режима */
}

:root[saved-theme="dark"] .homepage-cover .cover-dark {
  display: block !important; /* Показываем обложку для тёмного режима */
}